Unsecured JWT

### Summary
RFC 7519 section 6.1 specifies Unsecured JWTs with algorithm `none`:
https://www.rfc-editor.org/rfc/rfc7519#section-6

### Steps to reproduce
Try encoding using algorithm `none`:
```console
> jwt encode --alg=none '{"role": "my-role"}'
error: The following required arguments were not provided:
    --secret <SECRET>

USAGE:
    jwt encode --secret <SECRET> --alg <ALGORITHM> <JSON>

For more information try --help
```

And decoding using the JWT from the section 6.1 of the spec.
```console
> jwt decode 'eyJhbGciOiJub25lIn0.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.'
The JWT provided is invalid because Error(Json(Error("unknown variant `none`, expected one of `HS256`, `HS384`, `HS512`, `ES256`, `ES384`, `RS256`, `RS384`, `RS512`, `PS256`, `PS384`, `PS512`", line: 1, column: 13)))
```

### Expected behavior
The command `jwt encode --alg=none` should create a valid unsecured JWT and `jwt decode` should be able to parse unsecured JWTs.

Instead of `jwt encode --alg=none` the CLI could also expose this functionality via `jwt encode --unsecured` to make the security implications more obvious.
Additionally, `jwt decode` could also require an `--unsecured` argument and throw a validation error if not provided when decoding an unsecured JWT.

At the moment, this isn't possible until jsonwebtoken accepts [`None`](https://github.com/Keats/jsonwebtoken/blob/d17051c666a97db140325f681a4e479645364084/src/algorithms.rs#L16) as an algorithm

Considering jsonwebtoken has that issue as a [closed:wontfix](https://github.com/Keats/jsonwebtoken/issues/140), and they give an easy solution, I don't see how that'a s blocker.

For alg `none`, it's a simple base64 decode. Since jsonwebtoken has a use case where they believe encode/decode of none is a footgun, this cli tool should just implement it "natively". For the use case of this tool, needing to run a separate tool (`base64 -d` for example) depending on the alg, is quite annoying.

thanks

Thanks, @notrobpike. I'm not sure how much time I'll have to work on this, so if anyone would like to submit a PR, I'd be happy to review it.

thanks. if i were familiar with rust I'd work up a PR. hopefully someone out there is motivated.